BOT_TOKEN=7232345056:AAE576nZcJxhkU1NtvpKPOrAUL0_iEr5u9g
OWNER_ID=7496338256
MONGO_URL=mongodb+srv://Vicky123:Vicky123@cluster0.qznmdso.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=King_x_legend
